// pages/index.scss

  
  .container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    //background-color: #1d1e23;
   // background-color:yellow;
  }
 
//try it
  .show_hero{
   width: 100%;
   height: 500px;
   background-color:#1d1e23;
 }
 .show_page{
   margin-left: 12rem;
   width: auto;
   height: 100%;
  // background-image: url("/lose.jpg");
   background-image:linear-gradient(to right, rgba(29,30,35, 2), rgba(0, 0, 0, 0.1)),url("/lose.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   .show_title{
    background-size: cover;
    background-image:url("/title.png");
    background-repeat: no-repeat;
    background-position: center;
     width:18rem;
     height: 8rem;
   }
  .show_page_section{
    position: relative;
    display: flex;
    flex-direction: column;
   
    //background-color: rgb(129, 129, 109);
    width:18rem;
    height: 320px;}

    .h1{
     
     
     color: rgb(245, 245, 243);

    }
    .h4{
     
     font-size: 1,5rem;
     color: rgb(245, 245, 243);
    }
  }
   .show_video{
     
    //background-color: red;
    background-color: transparent;
    width: 100%;
    height: 14rem;
  }
  .slug{
    margin-top: -1.5rem;
    display: inline;
    width: 100%;
    height: 6rem;
   // background-color: blue;
  }
  .slug_date{
    margin-top: 0.7em;
    margin-bottom: 0%;
   // background-color: yellow;
  }
  .slug_title{
   //margin-top: 0;
    //background-color: green;
    line-height: normal;
  }
  

  .episodes{
    margin-left: 12rem;
  margin-right: 12rem;
  width:auto;
  height: 270px;
  //background-color: pink;
  }
  
.clips_show{
  
  margin-left: 12rem;
  margin-right: 12rem;
  width:auto;
  height: 270px;
  //background-color:blue;

}
.line{
  margin:4rem;
  margin-left: 17rem;
  margin-right: 17rem;
  width: auto;
  height: 1px;
  border-radius: 10px;
  background-color: beige;
}
.about_us{
  margin-left: 12rem;
  margin-right: 12rem;
  width:auto;
  height: 300px;
  //background-color: yellow;

}
.aboutus_h1{
  margin-left: 23rem;
}
.about_content{
  max-width: 500px;
  float: right;
  text-align: center;
}
.about_img{
  background-origin: padding-box;
  background-color: red;
}
//walaa
.grid {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  //background-color: purple;
  max-width: 100%;
  margin-top: 3rem;
}

.card {
  margin-top: 3.7rem ;
  margin-left: 1rem;
  flex-basis: 10%;
  padding: 0rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  //border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
//another edit
.floatme{
  position:absolute;
  
  margin-top:0px;
}

/*
hapa ni kujaribu
*/
//meadia queries

  @media screen and (max-width:768px){
    
  .container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    //background-color: #1d1e23;
   // background-color:yellow;
  }
 
//try it
  .show_hero{
   width: 100%;
   height: auto;
   background-color:#1d1e23;
 } //close show_hero

 .show_page{
   margin:0;
   margin-top:4rem;
   width: auto;
   height: 100%;
  // background-image: url("/lose.jpg");
   background-image:linear-gradient(to right, rgba(29,30,35, 2), rgba(0, 0, 0, 0.1)),url("/lose.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   .show_title{
    position: absolute;
    margin-top:-23.5%;
    background-size: contain;
    background-image:url("/title.png");
    background-repeat: no-repeat;
    background-position: center;
     width:18rem;
     height: 8rem;
   }
   
  .show_page_section{
    position: relative;
    display: inline;
    background-color: brown;
    //background-color: rgb(129, 129, 109);
    width:100%;
    height: 320px;}

    
    .h4{
    
     align-self:center;
     font-size: 0.6rem;
     color: rgb(245, 245, 243);
    }
  }
  .video_outer{
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: 3.4rem 4rem auto;
    
    margin-left:4%;
    width:auto;
    height:150px;
   // background-color: red;
  }
  .h1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:2;
    font-size:1rem;
    line-height: 1.3rem;
   // background-color: black;
   font-style: oblique;
   color: rgb(245, 245, 243);

  }
   .show_video{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end:2;
    background-color: red;
    background-color: transparent;
    width: 150px;
    height: 14rem;
  }
  .slug{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
   // grid-row-end:row2-end;
    margin-top: -1.5rem;
    display: inline;
    width: 100%;
    height: 3rem;
   // background-color: blue;
  }
  .slug_date{
    margin-top: 0.7em;
    margin-bottom: 0%;
    //background-color: yellow;
  }
  .slug_title{
   //margin-top: 0;
    //background-color: green;
    line-height: normal;
  }

  .episodes{
    margin :0;
  width:auto; //must put it auto
  height: auto;

 // background-color:blue;
  }
 .episode_video{
  width:300px;
  height: auto;
  position: relative;
   
  //background-color: pink;
 }
 .react_player {
  position: relative;
  margin-top: 0;
  top: 0;
  left: 0;
}
 .react_player video {
  position: relative;
  left: 0;
  top: -19%;
  //width: 400px;
  transform: none;
}

  
.clips_show{
  margin :0;
  width:auto; //must put it auto
  height: auto;

 // background-color:blue;

}
.line{
  margin:0;
  
  width: auto;
  height: 1px;
  border-radius: 10px;
  background-color:black;
}
.about_us{
  margin:0;
  margin-top:4rem;
  margin-bottom:4rem;
  width:auto;
  height: auto;
 // background-color: yellow;

}
.aboutus_h1{
  margin:0;
  text-align: center;
}
.about_content{
  width: auto;
  margin-left: 6%;
  margin-right: 6%;
  float: none;
  text-align: center;
}
.about_img{
  background-origin: padding-box;
  background-color:transparent;
}
.img{
  width:60%;
  height: 40%;
}
//walaa
.grid {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x:auto;
  //background-color: purple;
  max-width: 100%;
  
}

.card {
  margin-top: 3.7rem ;
  margin-left: 1rem;
  flex-basis: 10%;
  padding: 0rem;
  text-align: left;
  color: inherit;
  width: auto;
  //background-color: red;
  text-decoration: none;
  //border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0;
  font-size: 1rem;
}

.clips_img{
  width:auto;
  height:250;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
//another edit
.floatme{
  position:absolute;
  
  margin:auto;
}
  }